* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

$gray-color: #d6e2f0;
$bluish-color: #7b879d;
$darkblue-color: #1f3251;

body {
  background: $gray-color;
  font-family: "Outfit", sans-serif;
}

/*
 ============
  GLOBAL CODE
 ============
*/

.main-card {
  position: absolute;
  font-size: 1.4rem;
  bottom: 50%;
  left: 50%;
  transform: translate(-20%, 50%);
}

.inside-card {
  background: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2rem;

  img {
    width: 80%;
    margin: 2.5rem 0rem;
    border-radius: 1rem;
  }

  h2,
  p {
    padding: 0rem 1rem 2.5rem 1rem;
    text-align: center;
  }

  h2 {
    font-weight: 700;
    color: $darkblue-color;
  }

  p {
    font-weight: 400;
    color: $bluish-color;
  }
}

/*
- Mobile: 375px
- Desktop: 1440px)
*/
